img,
svg {
  width: 100%;
  height: auto;
}

#scene {
  position: relative;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: orange;
}

#background {
  position: absolute;
  left: -50%;
  top: -50%;
  width: 200vw;
  height: 200vh;
  background-image: url(graphic/baggrund.png);
}

#middle {
  position: absolute;
  left: -50%;
  top: -50%;
  width: 200vw;
  height: 200vh;
  background-image: url(graphic/mellemgrund.png);
}
#front {
  position: absolute;
  left: -50%;
  top: -50%;
  width: 200vw;
  height: 200vh;
  background-image: url(graphic/forgrund.png);
}
