img,
svg {
  width: 100%;
  height: auto;
}

body {
  position: relative;
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.hideoverflow {
  overflow: hidden;
}

#game {
  width: 100vw;
  height: 100vh;
  background-color: hotpink;
  overflow: hidden;
  margin: 0 auto;
  cursor: crosshair;
  cursor: url("crosshair_32.svg") 16 16, crosshair;
  cursor: url("crosshair.svg") 36 36, crosshair;
  background-image: url(dummy_bg.jpg);
  background-size: cover;
  background-position: center;
}

#test {
  height: 5px;
  width: 5px;
  background-color: blue;
  position: absolute;
  top: 0;
  left: 0;
}
