img,
svg {
  width: 100%;
  height: auto;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
}

.hideoverflow {
  overflow: hidden;
}

#game {
  width: 100vw;
  height: 56.25vw;
  cursor: none;
  overflow: hidden;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#stage {
  position: relative;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
}

.gamelayer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
}

#foreground {
  z-index: 500;
  background-image: url(foreground.png);
}

#middleground {
  z-index: 400;
  background-image: url(middleground.png);
}

#background {
  z-index: 300;
  background-image: url(background.jpg);
}

#crosshair_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  pointer-events: none;
}

#crosshair_rect {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 1px;
  height: 1px;
  left: 50%;
  top: 50%;
}

#crosshair {
  align-self: center;
  max-height: 4rem;
  max-width: 4rem;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

#pointSystem {
  position: fixed;
  top: 5%;
  left: 2%;
  z-index: 10000000;
  font-size: 2em;
}
#countdown {
  transform: translate(-50%, -50%);
  position: fixed;
  top: 10%;
  left: 50%;
  z-index: 10000000;
  font-size: 3em;
}

.target {
  position: absolute;
  background-image: url(target.png);
  background-size: 100% auto;
  transform: perspective(1000px) rotateX(90deg) rotateY(0deg);
  transform-origin: bottom;
  transition: 0.3s ease-in;
}

#target-0 {
  width: 8vw;
  height: 17.27vw;
  left: 31%;
  top: 43%;
  z-index: 450;
}
#target-2 {
  width: 8vw;
  height: 17.27vw;
  left: 58%;
  top: 43%;
  z-index: 450;
}

#target-1 {
  width: 4vw;
  height: 8.67vw;
  left: 28.75%;
  top: 39.5%;
  z-index: 350;
}
#target-3 {
  width: 4vw;
  height: 8.67vw;
  left: 35.5%;
  top: 40.5%;
  z-index: 350;
}
#target-4 {
  width: 3vw;
  height: 6.47vw;
  left: 60.7%;
  top: 41%;
  z-index: 350;
  transform: perspective(1000px) rotateX(0deg) rotateY(90deg);
  transform-origin: center left;
}

.target.active {
  animation: from-bottom 0.3s forwards ease-in;
}
@keyframes from-bottom {
  0% {
    transform: perspective(1000px) rotateX(90deg) rotateY(0deg);
  }
  100% {
    transform: perspective(1000px) rotateX(0deg) rotateY(0deg);
  }
}
.target.hide {
  animation: to-bottom 0.15s forwards ease-in;
}
@keyframes to-bottom {
  0% {
    transform: perspective(1000px) rotateX(0deg) rotateY(0deg);
  }
  100% {
    transform: perspective(1000px) rotateX(90deg) rotateY(0deg);
  }
}
.target.activeAlt {
  animation: from-left 0.15s forwards ease-in;
  transform-origin: center left;
}
@keyframes from-left {
  0% {
    transform: perspective(1000px) rotateX(0deg) rotateY(90deg);
  }
  100% {
    transform: perspective(1000px) rotateX(0deg) rotateY(0deg);
  }
}
.target.hideAlt {
  animation: to-left 0.15s forwards ease-in;
  transform-origin: center left;
}
@keyframes to-left {
  0% {
    transform: perspective(1000px) rotateX(0deg) rotateY(0deg);
  }
  100% {
    transform: perspective(1000px) rotateX(0deg) rotateY(90deg);
  }
}
